<div class="d-flex justify-content-center">
    <form class="col-md-5" [formGroup]="formulario" (ngSubmit)="onSubmit()">
        <div class="mb-3">
            <label for="name" class="form-label">Nombre</label>
            <input type="text" name="name" class="form-control" formControlName="name" aria-describedby="name" />
            <small id="name" class="text-danger">{{getError('name', 'nombre')}}</small>
        </div>

        <div class="mb-3">
            <label for="lastName" class="form-label">Apellido</label>
            <input type="text" name="lastName" class="form-control" formControlName="lastName" aria-describedby="lastName" />
            <small id="lastName" class="text-danger">{{getError('lastName', 'apellidos')}}</small>
        </div>

        <div class="mb-3">
            <label for="cedula" class="form-label">Cédula</label>
            <input type="text" id="cedula" name="cedula" class="form-control" formControlName="cedula" aria-describedby="cedula" />
            <small id="cedula" class="text-danger">{{getError('cedula', 'cédula')}}</small>
        </div>
        
        <div class="mb-3">
            <label for="birthDate" class="form-label">Fecha de Nacimiento</label>
            <input type="date" id="birthDate" name="birthDate" class="form-control" value="{{formulario.controls['birthDate'].value | date: 'yyyy-MM-dd'}}" formControlName="birthDate" aria-describedby="birthDate" />
            <small id="birthDate" class="text-danger">{{getError('birthDate', 'fecha de nacimiento')}}</small>
        </div>
        
        <div class="mb-3">
            <label for="createAt" class="form-label">Fecha de Creación</label>
            <input type="date" id="createdAt" name="createdAt" class="form-control" value="{{formulario.controls['createdAt'].value | date: 'yyyy-MM-dd'}}" formControlName="createdAt" aria-describedby="createdAt" />
            <small id="createAt" class="text-danger">{{getError('createdAt', 'fecha de creación')}}</small>
        </div>
        
        <div class="mb-3">
            <label for="email" class="form-label">Correo Electrónico</label>
            <input type="email" id="email" name="email" class="form-control" formControlName="email" aria-describedby="email" />
            <small id="email" class="text-danger">{{getError('email', 'correo electrónico')}}</small>
        </div>
        
        <div class="mb-3">
            <input type="checkbox" id="active" name="active" class="form-check-input" formControlName="active" aria-describedby="active" />
            <label for="active" class="form-label">&nbsp;Activo</label>            
        </div>

        <button type="submit" class="btn btn-success" >Guardar</button>
    </form>
</div>