<h3>Mis clientes</h3>

<table class="table table-responsive">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Cedula</th>
            <th>Acciones</th>
            <th>Ver</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of clientes">
            <td>{{item.clienteId}}</td>
            <td>{{item.name}}</td>
            <td>{{item.lastName}}</td>
            <td>{{item.cedula}}</td>

            <td>
                <ng-container *ngIf="item.active then botonParaActivo; else botonParaInactivo"></ng-container>

                <ng-template #botonParaActivo>
                    <button class="btn" [ngClass]="item.active ? 'btn-danger' : 'btn-success'">inhabilitar</button>
                </ng-template>

                <ng-template #botonParaInactivo>
                    <button class="btn" [ngClass]="!item.active ? 'btn-success' : 'btn-danger'">habilitar</button>
                </ng-template>
            </td>
            <td><a class="btn btn-primary" [routerLink]="['/cliente', item.clienteId]" routerLinkActive="router-link-active" >Ver</a></td>
        </tr>
    </tbody>
</table>