<h3>Lista de clientes</h3>

<table class="table table-responsive">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Cedula</th>
            <th>Acciones</th>
            <th colspan="2">Ver</th>
        </tr>
    </thead>
    <tbody *ngIf="listaClientes | async as clientes">
        <tr *ngFor="let item of clientes">
            <td>{{item.clienteId}}</td>
            <td>{{item.name}}</td>
            <td>{{item.lastName}}</td>
            <td>{{item.cedula}}</td>

            <td>
                <app-status-button 
                    [active]="item.active"
                    (activar)="activar(item)"
                    (desactivar)="desactivar(item)">
                </app-status-button>
            </td>

            <td>
                <a class="btn btn-primary" [routerLink]="['./cliente', item.clienteId]" routerLinkActive="router-link-active">Ver</a>
            </td>

            <td>
                <a class="btn btn-primary" [routerLink]="['/clientes/cliente-direcciones', item.clienteId]" routerLinkActive="router-link-active">Ver direcciones</a>
            </td>
        </tr>
    </tbody>
</table>